Betreff: trendtours - Unstimmigkeiten - {{ monat_label }} {{ jahr }}

Hey {{ publisher_email }},

wir wurden auf kleine Unstimmigkeiten auf eurer Webseite ({{ page_url }}) hingewiesen und würden uns sehr freuen, wenn Ihr diese zeitnah korrigieren könntet.

{% for issue in issues %}
[Screenshot: {{ issue.image_filename }}]

-> {{ issue.instruction }}

{% endfor %}
Vielen Dank für die Umsetzung & Viele Grüße
